<%= render partial: "links", object: @link, as: 'link' %>

<div class="row">
  <div class="col-md-12 comments">
	<% @comments.each do |comment| %>
    <div class="comment">
  		<p class="comment-content"> <%= comment.content %> </p>
      <span class="comment-details"> Comment by: <%= comment.user.email %> </span>
  		<span class="comment-details"> Created: <%= time_ago_in_words(comment.created_at) %> ago </span>
    </div>
	<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
  	<%= form_tag(link_comments_path(@link), method: :post, class: "form-group") do %>
  	  <div>
  	    <%= label_tag(:content, "Comment: ") %>
  	    <%= text_area_tag(:content, nil, class: "form-control") %>
  	  </div>
  		  <%= submit_tag("Submit", class: "btn btn-default")%>
  	<% end %>
	</div>
</div>
