<%= render partial: "links", object: @link, as: 'link' %>

<% @comments.each do |comment| %>
	<p> <%= comment.user.email %> </p>
	<p> <%= comment.content %> </p>
	<p> <%= comment.created_at %> </p>
<% end %>

<%= form_tag(link_comments_path(@link), method: :post) do %>

  <div>
    <%= label_tag(:content, "Comment: ") %>
    <%= text_field_tag(:content, nil, size: 40) %>
  </div>
  <%= submit_tag("Submit") %>
<% end %>
