<!DOCTYPE html>
<html>
<head>
  <title>TyTy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <%= link_to "TyTy", root_path, class: "navbar-brand" %>
      <% if current_user %>
        <%= link_to "Post a link", links_new_path, class: "btn btn-default navbar-btn" %>
      <% end %>
      <div class="nav navbar-nav navbar-right">
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
          <p class="navbar-text">Signed in as: <%= current_user.email %> </p>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-default navbar-btn" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">TyTy Inc.</p>
    </div>
  </footer>
</body>
</html>
